a.font-rubik.go-back-button {
    text-decoration: none;
}
.user-data-page .form-wrapper h2 {
    font-family: Rubik,sans-serif!important;
}
p.header-info a {
    text-decoration: none !important;
}

