.title-style-four h2 {
    font-family: Rubik,sans-serif!important;
}
ul.right-widget li a {
    text-decoration: none;
}
p.sing-in-call a {
    text-decoration: none;
}
.all-button {
    text-decoration: none;
}
.fancy-short-banner-four .form-wrapper p a {
    text-decoration: none;
}
.top-footer li a {
    text-decoration: none;
}
.top-footer ul {
    margin-left: -30px;
}
.title h2 {
    font-family: Rubik,sans-serif!important;
}
.title-style-four h2 {
    font-family: Rubik,sans-serif!important;
}
.copyright-text a{
    text-decoration: none;
    color: #000;
}
// .user-data-form input[placeholder] {
//     font-size:14px;
//     color: #007bff !important;
// }
// form#myForm label {
//     color: #000;
// }
.pricing-section-one .offer-text {
    font-size: 20px;
    margin-top:15px;
}
.pricing-section-one .pr-table-wrapper .pack-name {
    font-family: Rubik,sans-serif!important;
}
.theme-btn-four {
    text-decoration: none;
    color: #007bff !important;
    border-color: #007bff !important;
}
.theme-btn-four:hover {
    background-color: #007bff !important;
    color:#fff !important;
}
.title-style-one h2 {
    font-family: 'Rubik';
}
a.theme-btn-one {
    text-decoration: none;
}
.theme-footer-three .bottom-footer-content ul li a {
    text-decoration: none;
}
.heading {
    font-family: 'Rubik';
}