.mypristrike{
    font-size: 28px;
    font-weight: 400;
    color: #000;
    line-height: initial;
    font-family: 'Rubik';
    text-decoration: line-through;
    color: #e91e63;
    margin-top: 15px;
    margin-bottom: -16px;
}

.mybgprice{
    background-color: #40afff;
}