.fancy-hero-five span {
    font-family: 'Rubik' !important;
}
.terms_and_policy .tab-content h3 {
    font-family: 'Rubik';
    font-size: 28px;
    padding: 10px 0px;
    font-weight: 400;
}
.terms_and_policy .tab-content p {
    line-height: 27px;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 18px;
}