.terms_and_policy .tab-content {
    h3 {
        
        font-size: 28px;
        padding: 10px 0px;
        font-weight: 400;
    }
    p {
        line-height: 27px;
        font-weight: 300;
        font-size: 18px;
    }
    
}

