@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import '_buttons.scss';
@import '_login.scss';
@import '_home.scss';
@import '_other.scss';
@import '_termsandcondition.scss';
@import '_pricing.scss';



// Files
.go-back-button {
    text-decoration: none !important;
    color: #21b5fe !important;
    font-size: 18px !important;
    text-transform: capitalize !important;
    margin-top: 5px;
}
.go-back-button svg {
    margin-top: -3px;
}
.theme-menu-three .logo {
    
    top: 44% !important;
}



.theme-menu-three .navbar-nav .nav-item .nav-link {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    margin: 0 15px !important;

    font-size: 18px !important;
    font-weight: 600 !important;
    font-family: 'EEO-regular';
}

@media (max-width:567px) {
    .theme-menu-three .logo img {
        width:75% !important;
    }
    .ban-head {
        font-size: 33px !important;
    }
    .fancy-feature-eight {
        padding: 0px 0px 0px !important;
    }
}
.theme-main-menu {
    background-color: #ffffff;
   
}
.theme-main-menu.sticky-menu {
    box-shadow: 0px 5px 20px 2px rgb(209 209 209 / 75%);
    -webkit-box-shadow: 0px 5px 20px 2px rgb(209 209 209 / 75%);
    -moz-box-shadow: 0px 5px 20px 2px rgb(209 209 209 / 75%);
}
.hero-banner-three .sing-in-call {
    padding-bottom: 25px;
    margin-top: -14px;
}

.hero-banner-three {
    padding: 60px 0 10px !important;
    position: relative;
    margin-top: -50px;
    z-index: 2
}
.user-data-form {
    width:75%;
    margin: 0px auto 0;
    a {
        text-decoration: none;
        color: #090436;
    }
}
.user-data-page .form-wrapper h2 {
    font-size: 36px !important;
    margin-top: 15px;
    text-transform: capitalize;
    font-weight: 600;
}
.form-control {
    font-size: 13px !important;
    height: 40px;
}
.forgot-section {
    position: relative;
    bottom: 105px;
    text-align: right;
}
.forgot-section a {
    text-decoration: none;
}
.theme-btn-google {
    border: 1px solid #ccc;
    width: 93%;
    margin: 0 auto 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.theme-btn-google:hover {
    background-color: #fec221;
}
p.register-sec-new a {
    text-decoration: none;
}
.form-bottom {
    width: 80%;
    margin: 0 auto;
}
p.log-sec-new a {
    text-decoration: none;

}
p.log-sec-new {
    margin-left: 15px;
    text-transform:capitalize;
    font-size: 16px;
}

.how-it-works-first {
    background-color: #fff;
    border-left: 4px solid #099bfd;
     box-shadow: 0px 0px 15px 6px rgb(163 206 233 / 20%);
    -webkit-box-shadow: 0px 0px 15px 6px rgb(163 206 233 / 20%);
    -moz-box-shadow: 0px 0px 15px 6px rgb(163 206 233 / 20%);
    border-radius: 6px;
    transition: 0.1s;
    cursor: pointer;
    p {
        padding-top: 10px;
        font-size: 18px;
    }
    h6 {
        text-transform: capitalize;
        font-weight: 600;
    }
}



.feature-sec-desc{
    h4:hover {
        cursor: pointer;

    }
    p:hover {
        cursor: pointer;

    }
}


.cursor-pointer{
    cursor: pointer !important;
}
// .how-it-works-first {
//     cursor: pointer !important;
// }
.findemailshome p {
    margin-left: 0px;
    line-height: 15px;
    cursor: pointer;
    font-weight: 100 !important;
}
.fancy-hero-four {
    margin-top: -50px;
}
.feature-sec-desc a {
    text-decoration: none;
    color: #000;
}
.form-bottom .google-signin {
    width: 95%;
    margin: 0 auto;
}
form#myForm label {
    text-transform: capitalize;
}
.google-signin button {
    // border: 3px solid #fbfbfb !important;
    /* padding: 2px; */
    border-radius: 0px !important;
    height: 45px;
}
.feature-sec-desc:hover {
    background-color: #fff;
    // border-left: 4px solid #099bfd;
     box-shadow: 0px 0px 15px 6px rgb(163 206 233 / 20%);
    -webkit-box-shadow: 0px 0px 15px 6px rgb(163 206 233 / 20%);
    -moz-box-shadow: 0px 0px 15px 6px rgb(163 206 233 / 20%);
    border-radius: 6px;
    transition: 0.1s;
    cursor: pointer;
}

.icon-wrapper {
    margin-top: 10px !important;
}
.sub-form input[placeholder] {
    color: #7a7a7a !important;
}
.compare-main {
    line-height: 0px;
    max-width: 900px;
}
.compare-main h1 {
    padding-bottom: 20px;
}
.compare-main p {
    font-size: 20px;
    
    line-height: 1.39em;
    font-weight: 400;
    color: #2a2a2a;
    text-align: center;
    // padding: 5px 0px 0px;
    text-transform: capitalize;
    // font-family: "Segoe UI";
}
.compare-section-first {
    padding: 40px 0 10px;
}
.compare-first h2 {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 38px;
    line-height: 50px;
    font-weight: 600;
    // font-family: "Segoe UI";
    padding: 0px 45px;
}
.compare-first p {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
    // font-family: "Segoe UI";
    padding: 10px 35px 0;
    /* line-height: 25px; */
    font-weight: 500;
    text-align:center;
}
.compare-section-second {
    padding: 0px 0;
    
}
.compare-second h2 {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 38px;
    line-height: 50px;
    font-weight: 600;
    // font-family: "Segoe UI";
    padding: 0px 45px;
    
}
.compare-second p {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
    // font-family: "Segoe UI";
    padding: 5px 0px;
    /* line-height: 25px; */
    /* font-weight: 500;*/
}
.btn-feature-section a {
    color: #0495fd;
    /* color: #ccc; */
    font-size: 20px;
}
.btn-feature-section svg {
    font-size: 18px;
    margin-bottom: 5px;
    color: #0495fd;
}
.fancy-feature-nineteen-new-inner {
    h5 {
        font-size: 18px;
        font-weight: 600;
        font-family: 'EEO-medium' !important;
    }
    
    // color: #febc0a;
}
.row-title-text {
    font-size: 18px;
    font-weight: 500;
}
.fancy-feature-nineteen-new-inner svg {
    margin: 15px 0;
    font-size: 70px;
    color: #0495fd;
}
.feature-sec-desc h3 {
    font-size: 20px;
    color: #090436;
}
.email-find-para-first h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 30px;
    text-align: left;
    text-transform: capitalize;
}
.email-find-para-first p {
    font-size: 20px;
    line-height: 38px;
}
a.email-first-btn {
    padding: 13px 20px;
    background-color: #0495fd;
    color: #fff !important;
    font-size: 17px;
    font-weight: 600;
    margin: 20px 0;
}
a.email-first-btn:hover {
    background-color: #090436;
    cursor: pointer;
}
.email-find {
    padding: 90px 0;
}
.email-first-heading h4 {
    text-transform: capitalize;
    margin: 10px 0 0;
}
.email-first-heading p {
    font-size: 18px;
    margin: 25px 0;
}
.email-first-sect-btn {
    cursor: pointer;
    text-decoration: underline !important;
    color: #0495fd !important;
    font-size: 17px;
}
.email-first-heading:hover {
    // background-color: #fff;
    // border-left: 4px solid #099bfd;
     box-shadow: 0px 0px 15px 6px rgb(163 206 233 / 20%);
    -webkit-box-shadow: 0px 0px 15px 6px rgb(163 206 233 / 20%);
    -moz-box-shadow: 0px 0px 15px 6px rgb(163 206 233 / 20%);
    border-radius: 6px;
    transition: 0.2s;
    cursor: pointer;
}
.text-section-testimonial {
    position: absolute;
    bottom:35px;
}
.faq-row-wrapper {
    width: 80%;
    margin: 0 auto;
}
@media (max-width:420px) {
    .search-filter-form button {
        width: 90px !important;
    }
}
.free-section-demo-compare {
    margin-bottom: 140px;
}
.fancy-hero-five-features {
    background-color: #099bfd;
}
.features-section-first-inner {
    text-align: center;
    margin: 70px 0 15px;
}
.features-section-first-inner img {
    text-align: center;
    margin: 10px auto;
    padding: 15px;
}
.follow-feature-section {
    text-align: center;
    padding: 10px;
}
.follow-feature-section svg {
    font-size: 30px;
}
.follow-feature-section p {
    padding-top: 20px;
    font-family: 'EEO-regular'!important;
    font-weight: 500;
    padding-bottom: 20px;
}
.follow-feature-section-main {
    padding: 60px 0;
}
.follow-feature-section-main h3 {
    font-size: 47px;
}
.follow-feature-section img {
    width: 30%;
    margin: 0 auto;
}
.follow-feature-section-main p {
    font-weight: 500;
}
.visual-section-inner-listing li img {
    width:3%;
    float: left;
    margin-right:10px;
    margin-top: 5px;
}
.visual-section-inner-listing li {
    margin: 10px 0 15px;
    font-size: 17px;
}
.visual-section-inner-listing {
    margin-left: -30px;
}
.visual-section-inner p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}
ul.visual-section-inner-listing {
    margin-top: 30px;
}
.work-anywhere h3 {
    font-size: 47px;
}
.work-anywhere-listing {
    margin-top:30px;
}
.work-anywhere {
    padding: 60px 0;
}
.work-anywhere-listing li img {
    width:3%;
    float: left;
    margin-right:10px;
    margin-top: 5px;
}
.work-anywhere-listing li {
    margin: 10px 0 15px;
    font-size: 17px;
}
.work-anywhere-listing {
    margin-left: -30px;
}
section.work-anywhere h3 {
    margin-bottom: 50px;
}
.work-anywhere p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}
.follow-visual-section h3 {
    font-size: 47px;
}
.feature-main h1 span {
    color: #fff !important;
}
// .feature-main p {
//     color: #fff !important;
// }
.features-section-first-inner h3 {
    font-size: 20px;
}

.compare-first img {
    margin: 0 auto;
}
// Files 

.cursor-pointer{
    cursor: pointer;
}
.vls12{
    background: #28a745;
    padding: 10px 15px;
    color: white !important;
    border-radius: 7px;
    font-size: 16px !important;
}

.form_error_field{
    border-bottom: 2px solid red !important;
}
.form_success_field{
    border-bottom: 2px solid rgb(0, 255, 42) !important;
}

.form_error_message{
    color: #ff5722;
    margin-top: 5px;
    // float: right;
    font-weight: 400;
    // font-family: 'Segoe UI';
}
// .google-signin button {
//     border: none !important;
//     background-color: #ffba12 !important;
// }
.google-signin span {
    color: #fff !important;
    align-items: center !important;
    position: relative;
    text-align: center !important;
    text-transform: capitalize;
}
// .google-signin div {
//     background-color: #ffba12 !important;
//     color: #fff;
// }
//navbar
.navbarshrink {
    padding: 0px 40px;
}

.fancy-hero-five {
    margin-top: -50px;
}

///////////////////////////
.styles_faq-row-wrapper__3vA1D{
    background-color: #f0f8ff00 !important;
}
.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
    border-bottom: none !important;
}
section.faq-row.styles_faq-row__2YF3c {
    background-color: white;
    margin-top: 15px;
    padding: 12px 30px;
}
.row-title.closed.styles_row-title__1YiiY.styles_closed__39w54.styles_no-tabfocus__1HmyD {
    // font-family: Rubik, sans-serif;
    font-size: 22px;
    color: #3d3d3d;
    font-weight: 400;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY{
    // font-family: Rubik, sans-serif !important;
    font-size: 22px !important;
    color: #3d3d3d !important;
    font-weight: 400 !important;
}


///////////////////////////




.text-fade1{
    color: #4f4f4f !important;
}

.text-fade2{
    color: #979797 !important;
}


.pat2{
    
    position: absolute;
    top: 25%;

}


.herobgimage{
    background-image: url(https://moosend.com/wp-content/uploads/2021/07/Group-28@2x-3.png);
    background-position: top -49px right -2%;
    background-size: 52%;
    padding-bottom: 45%;
    background-repeat: no-repeat;
    height: 700px;
}


.navbar-light .navbar-nav .nav-link {
    color: #091929;
    font-weight: 600;
    padding-right: 17px;
    padding-left: 17px;
}


.navloginbtn{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.navgetstartedbtn{
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}



.banner{
    &_box{
        padding: 36px 20px 0px 20px;
        -webkit-box-shadow: 0px 6px 33px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 6px 33px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 6px 33px -4px rgba(0,0,0,0.75);

        &_input{
            border: 2px solid #007bff;
            height: 46px;

            &_button{
                background-color: #007bff;
                color: white;
                border: #007bff;
            }
        }
    }
}



.homesection2{
    h5{
        color: #979797;
    }
}

.homesection3{
    h5{
        font-size: 35px;
    }
    p{
        font-size: 18px;
    line-height: 28px;
    }
}




.homesection4{
    h5{
        font-size: 35px;

    }
}

.accordion-item {
    background-color: #fff;
    border: none !important
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: #fcfcfc;
    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.freshnessCrm h3 {
    font-size: 47px;
    text-transform: capitalize;
}
.compare-section-first h2 {
    font-size: 47px;
    text-transform: capitalize;
}
.freshnessCrm p {
    padding: 10px 30px;
    font-size: 20px;
}
.compare-section-second h2 {
    font-size: 47px;
    // text-transform: capitalize;
    padding: 15px 40px;
    text-align: center;
    // font-family: 'Segoe UI'!important;
}
.compare-second img {
    margin: 10px auto;
}
.compare-second h4 {
    text-transform: capitalize;
    font-size: 21px;
    font-weight: 700;
    // font-family: 'Segoe UI'!important;
}
.compare-second img {
    height: 100px;
    padding-bottom: 10px;
}
.our-customer-compaire h3 {
    text-align: center;
    font-size: 47px;
    text-transform: capitalize;
    padding: 20px 0;
}
.our-customer-freesales h3 {
    text-align: center;
    font-size: 47px;
    text-transform: capitalize;
    padding: 0 0 40px 0;
    font-weight: 600;
}
.our-customer-freesales table td {
    padding: 7px;
    font-family: 'EEO-regular';
}
.our-customer-freesales th img {
    margin: 0 auto;
}
.sec-left {
    padding: 10px 15px !important;
}
.our-customer-freesales p {
    font-weight: 600;
    font-size: 16px;
}
.freesales-btn {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.freesales-btn a {
    background-color: #0495fd;
    color: #fff;
    padding: 5px 10px;
    // font-family: 'Segoe UI'!important;
}
.freesales-btn a {
    background: rgb(2,0,36);
        background: linear-gradient(34deg, rgba(2,0,36,1) 0%, rgba(6,86,172,1) 0%, rgba(0,214,212,1) 0%, rgba(1,148,241,1) 47%);
    color: #fff !important;
    padding: 10px 30px;
    // font-family: "Segoe UI" !important;
    margin: 20px 5px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}
.our-customer-freesales {
    padding: 0 0 50px 0;
}
.alternative-section {
    padding: 10px 0 0px 0;
}
.alternative-section h3 {
    text-align: center;
    font-size: 47px;
    text-transform: capitalize;
    padding: 20px 0;
    // font-family: "Segoe UI" !important;
}
.alternative-section-inner h3 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.better-alternative h3 {
    font-weight: 700;
    font-size: 36px;
    margin: 25px 0;
    text-transform: capitalize;
}
.better-alternative a {
    background: rgb(2,0,36);
        background: linear-gradient(34deg, rgba(2,0,36,1) 0%, rgba(6,86,172,1) 0%, rgba(0,214,212,1) 0%, rgba(1,148,241,1) 47%);
    color: #fff !important;
    padding: 10px 30px;
    // font-family: "Segoe UI" !important;
    margin: 20px 5px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}
.better-alternative a:hover {
    background-color: #090436;
}
.better-alternative {
    margin: 0 auto;
    text-align: center;
    padding: 0 20px 10px;
}
.freshness-comparision {
    padding: 25px 0;
}
.freshness-comparision h3 {
    font-weight: 700;
    font-size: 36px;
    margin: 25px 0;
    // font-family: "Segoe UI" !important;
    text-transform: capitalize;
}

.freshness-comparision-main-section {
    background-color: #f7faff;
    padding: 0 0 70px;
}

.our-customer-compaire .carousel-inner .card {
    margin: 0 auto;
    text-align: center;
}
.carousel-indicators {
    display: none;
}
.card-title.h5 {
    font-size: 28px;
    padding: 0 0 30px;
}
.free-signup {
    background-color: #0495fd;
    color: #fff !important;
    padding: 10px 30px;
    // font-family: "Segoe UI" !important;
    margin: 20px 5px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}
.free-signup:hover {
    background-color: #090436;
}
.businesses-world {
    padding: 15px 0;
}
.businesses-world h3 {
    font-weight: 700;
    font-size: 36px;
    margin: 25px 0;
    
    padding: 0 0 30px 0;
    text-transform: capitalize;
}
section.businesses-world li {
    display: inline-block;
    margin: 0 50px 0 30px;
    text-align: center;
}
section.freshness-comparision-main-section button {
    margin: 0 auto;
}
.businesses-world ul {
    margin: 0 auto;
    text-align: center;
}
.compare-main h1 {
    text-transform: capitalize;
}
@media (max-width:420px) {
    .free-demo-form-left {
        display: none;
    }
}
@media (max-width:991px) {
    .footer-about-widget img {
        width: 50% !important;
    }
}
h6.title-style-three {
    font-size: 25px;
}
.form-error-message {
    color:crimson;
    margin-top:5px;
}
.title-style-seven h6 {
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
}
.img-ban-main-new-right {
    width:20%;
    position: absolute;
    right: 3%;
    top: 7.5%;
}
.img-ban-main-new-left {
    width:25%;
    position: absolute;
    left: 2%;
    top: 7.5%;
}
.sec-hifen {
    font-size: 18px;
    color: #979797;
}
h1.heading.privacy-main-title {
    margin-top: -60px;
    margin-bottom: 50px;
}
.privacy-main-first p {
    padding:0 10px;
    font-weight: 400;
}
.terms_and_policy {
    h3 {
        font-size: 24px !important;
        font-weight: 600 !important;
        font-family: "EEO-medium" !important;
        text-transform: capitalize;
    }
    .tab-content h2 {
        font-size: 42px !important;
    }
    p{
        color: #9d9d9d;
    }
}

.phoneno-input.PhoneInput input {
    border-radius: 5px;
    height: 38px;
    border: 1px solid #ccc;
    font-size: 13px !important;
    padding-left: 10px;
    color: #5e5e5e;
    /* border-right: 1px solid; */
}
.compare-main h1 {
    margin-top: -60px;
}
.our-customer-freesales {
    padding: 0px 0 50px 0;
}
thead.customer-freesales-table tr th {
    border-bottom: 0px !important;
}
.table-bordered td, .table-bordered th {
     border: 0px solid #dee2e6 !important; 
}
th.text-center.sec-middle {
    /* margin-top: -20px !important; */
    position: relative;
    top: -5px;
}
.compare-section-second h2 {
    margin-bottom: -30px;
}
.freesales-btn a {
    text-decoration: none;
}
.freesales-btn a:hover {
    background-color: #090436;
}
.css-b62m3t-container {
    font-size: 14px;
}
.free-demo-form-left p {
    font-size: 20px;
}
.free-demo-form-list li {
    font-size: 16px;
}
.cSize {
    margin-bottom: 0px !important;
}
.core-values{
    h6 {
        font-weight: 700;
        font-size: 23px;
        margin-bottom: 20px;
        
        text-transform: capitalize;
    }
    p {
        font-size: 18px;
        margin: 10px 0;
        
    }
} 
.alternative-section-inner p {
    font-size: 20px;
    

}
section.faq-row  {
    p{
        font-size: 18px;
        color: #a3a3a3 !important;
    }
    
}
.faq-row ul li {
    color: #a3a3a3 !important;
    font-size: 18px;
}
.title-abt-mission h6 {
    font-size: 47px;
    
    margin-bottom:20px;
}
section.businesses-world li {
    display: inline-block;
    width: 17%;
}
h1.heading.font-terms {
    margin-top: -50px;
}
.google-signin svg {
    padding: -10px;
    height: 25px;
    padding-top: 5px;
    /* opacity: 0.1; */
    background-color: none !important;
}
.core-values img {
    // text-align: center;
    margin: 0 auto;
    height: 110px;
    // width: 100px;
    padding-bottom: 20px;
}
ul.social-icon li {
    display: inline-block;
    /* color: #ccc !important; */
}
ul.social-icon li a {
    color: #fff;
    font-size: 16px;
    background-color: #090436;
    margin: 0px 3px;
    padding: 5px 6px;
    border-radius: 50%;
}
ul.social-icon li a:hover {
    color: #feba03;
}
.socialMedia {
    margin-top: -15px;
    margin-left: -25px;
}
.react-datepicker__input-container input {
    color: #686868 !important;
}
.core-values p {
    padding: 0px 20px;
}
.free-demo-form-left p {
    line-height: 23px;
    font-size: 15px;
    padding: 0px 0px 0px 10px;
}
.free-demo-form-left li svg {
    color: #0d6efd;
}
.free-demo-form-list li {
    transition:0.3s;
    cursor: pointer;
    font-family: 'EEO-regular';
}
.free-demo-form-list li:hover {
    padding-left: 5px;
}
h3.addme a {
    text-decoration: none;
}
.useable-tools-section-h6 {
    color: #000 !important;
}

.icon-images-ban {
    ul {
        text-align: center;
        li {
            display: inline-block;
            margin: 0 auto;
            width: 9%;
            margin: 0px 50px 20px 10px;
        }
    }
    p {
        margin-top: 15px;
        font-size: 18px;
        font-weight: 500;
        span {
            color: #858585 !important;
        }
    }
}
.conte-sec p {
    padding-left: 15px;
    margin-top: -10px;
    color: #cdcdcd;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}
.conte-sec p a {
    color: #cdcdcd;
}

.free-demo-form-list-btn li {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 10px 20px;
}
.free-demo-form-list-btn .schedule-demo a {
    color: #fff !important;
    text-decoration: none;
}
.free-demo-form-list-btn .schedule-demo:hover {
    background-color: #090436;
    text-decoration: none;
}
.free-demo-form-list-btn .schedule-demo-free {
    background-color: #0495fd;
    border-radius:5px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}
.free-demo-form-list-btn .schedule-demo-free:hover {
    background-color: #feba03;
}
.free-demo-form-list-btn {
    margin-top: -3px;
    margin-left: -20px;
}

.our-cli {
    h3 {
        color: #090436;
        margin-bottom: 20px;
        font-size: 47px;
    }
    p {
        font-size: 16px;
        text-transform: capitalize;
        letter-spacing: .1em;
        padding-bottom: 15px;
        color: #000;
        font-weight: 500;
    }
}

.col-sec-de {
    width: 90%;
    text-align: center;
    background-color: #e5f6ff;
    padding: 25px;
    border-radius: 60px;
    margin-top: 10px;
    img {
        /* width: 47%; */
        text-align: center;
        margin: 10px auto 20px;
    }
}
.col-sec-de-check svg {
    color: #0495fd;
    font-size: 42px;
    position: absolute;
    top: 95px;
    right: 24px;
}
.our-cli-btn {
    background: linear-gradient(34deg, rgba(2,0,36,1) 0%, rgba(6,86,172,1) 0%, rgba(0,214,212,1) 0%, rgba(1,148,241,1) 47%);
    color: #fff;
    width: 20%;
    margin: 45px auto;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    // border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.our-cli-btn:hover{
        background: linear-gradient(
            90deg,#fa9531 0,#ffbd39 100%) !important;
}
.free-demo-btn {
    box-shadow: none !important;
}
.our-cli-btn a {
    text-decoration: none;
    color: #fff;
}
.fancy-text-block-section-main {
    background-color: #f8fcff;
    border-radius: 15px;
    padding: 30px 80px 10px;
}
span.password-trigger {
    float: right;
    position: relative;
    /* top: -35px; */
    bottom: 33px;
    right: 10px;
    border-left: 1px solid #c3c3c3;
    color: #818181;
    padding-left: 8px;
}

p.order-md-first svg {
    color: #fd0404;
}
button.theme-btn-one {
    border-radius: 0px;
}
.faq-classic-bg {
    padding-bottom:30px !important;
}

.free-demo-btn{
    border-radius:0px;
    background-color: #0495fd;
    border-color: #0495fd;
    :hover{
        background-color:#090436;
        border-color: #090436;
    }
}
.ban-main-home {
    background: url('/images/ban111.png') no-repeat top right !important;
    background-size:68% !important;
    // width: 58%;
    right: 0;
    height: 100%;
    min-height: 420px;
    position: relative;
    top: 0;
    z-index: 0;
}

p.sing-in-call{
    a {
        color: #fff !important;
        text-decoration: none !important;
    }
} 
.form-wrapper {
    margin-top: 20px;
}
.contact-info {
    margin-top: 10px;
}
.footer-third-section {
    padding: 20px 0 10px;
    background: rgb(2,0,36);
    background: linear-gradient(34deg, rgba(2,0,36,1) 0%, rgba(6,86,172,1) 0%, rgba(0,214,212,1) 0%, rgba(1,148,241,1) 47%);
    p {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        margin-top: 10px;
    }
    ul {
        li {
            display: inline-block;
            color: #fff;
            padding: 5px 15px 0 0;
            font-size: 20px;
            cursor: pointer;
        }
    }
}
.free-demo-form-list-btn {
    .schedule-demo {
        background: rgb(2,0,36);
        background: linear-gradient(34deg, rgba(2,0,36,1) 0%, rgba(6,86,172,1) 0%, rgba(0,214,212,1) 0%, rgba(1,148,241,1) 47%);
        color: #fff !important;
        font-weight: 500;
        transition: 0.3s;
        cursor: pointer;
        text-decoration: none;
    }
}
.fancy-hero-four {
    background: url('/images/ban111.png') no-repeat top right !important;
    background-size:68% !important;
    right: 0;
    height: 100%;
    min-height: 420px;
    position: relative;
    top: 0;
    z-index: 0;
}
.user-data-form  {
    h6 {
        margin-top: 15px;
    }
}
p.register-sec-new {
    font-size: 14px;
}
p.copyright-text svg {
    color: red;
}
.free-liveChart {
    background-color: #feba03;
    margin-bottom: -15px;
    padding: 100px 0;
    text-align: center;
    h2 {
        font-size: 47px;
    }
    ul {
        li {
            display: inline-block;
            padding: 30px 20px;
        }
    }
    p {
        padding: 20px;
    }
}
.free-liveChartForm {
    margin: 0 auto;
    input {
        height: 50px;
    }
    button {
        height: 50px;
        background: linear-gradient(34deg, rgba(2,0,36,1) 0%, rgba(6,86,172,1) 0%, rgba(0,214,212,1) 0%, rgba(1,148,241,1) 47%) !important;
        :hover {
            background: linear-gradient(
            90deg,#fa9531 0,#ffbd39 100%) !important;
        }
    }
    
}
.socialm {
    li {
        a{
            color: #fff;
        }
    }
}